.example-card {
    width: 200px;
    height: 300px;
    display: inline-block;
    margin-top: 20px;
    margin-left:20px;
    background-color: hsla(209, 23%, 22%);
    border-radius: 0.375rem;
}

.example-header-image {
    background-size:cover;
}
.example-card img{
    width: 232px;
    height: 150px;
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
}
::ng-deep .mat-focused .mat-form-field-label {
    color: white !important;
}

::ng-deep.mat-form-field-underline {
    background-color: white !important;
}

::ng-deep.mat-form-field-ripple {
    background-color: white !important;
}
::ng-deep .mat-form-field-placeholder {
    color: #fff;   
  }