<mat-form-field class="buscador" appearance="legacy" style="width: 30%; margin-left: 25px; ">
    <input (keyup)="filtro(buscador.value)" [formControl]="buscadorPais" style="color:white" matInput placeholder="Buscar país..." #buscador >
</mat-form-field>
<br>
<mat-form-field appearance="outline">
    <mat-label>Region</mat-label>
    <mat-select [formControl]="selectPais" (selectionChange)="filtroPorRegion(region.value)" #region>
        <mat-option [value]="null">--</mat-option>
      <mat-option *ngFor="let reg of regiones" [value]="reg">
        {{reg}}
      </mat-option>
    </mat-select>
  </mat-form-field>
<mat-card class="example-card" *ngFor="let pais of paisesFiltrados">
    <a style="text-decoration:none" [routerLink]="['/detalle', pais.codigoPais]">
        <img mat-card-image src="{{pais.bandera}}">
        <mat-card-content style="color:#fff" >
            <h2 >{{pais.nombrePais}}</h2>
            <p>Población: {{pais.poblacion}}</p>
            <p>Región: {{pais.region}}</p>
            <p>Capital: {{pais.capital}}</p>
        </mat-card-content>
    </a>
</mat-card>
